h1{
    text-align: center;
}
.Skyline {
    text-align: center;
    color: black;
}
.Skyline img {
    border-radius: 24px;
    padding: 24px;
}
.Porsche {
    text-align: center;
    color: black;
    border: 24px;
}
.Porsche img{
    border-radius: 24px;
    padding: 24px;
}
.Uno {
    text-align: center;
    color: black;
    border: #fff;
}
.Uno img {
    border-radius: 24px;
    padding: 24px;
}
.Huracan {
    text-align: center;
    color: black;
}
.Huracan img {
    border-radius: 24px;
    padding: 24px;
}
body{
    background-image: url('https://www.wallpapertip.com/wmimgs/41-413222_blue-sky-racing-track-background-hd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1 {
    color: #082f49;
}
ol.custom-list {
    list-style: none;
    counter-reset: custom-counter;
}

ol.custom-list li {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    counter-increment: custom-counter; /* Incrementa o contador a cada item */
}

ol.custom-list li::before {
    content: counter(custom-counter) "."; /* Mostra o número do contador */
    margin-right: 10px; /* Espaço entre o número e o título */
    font-weight: bold; /* Faz o número ficar em negrito */
    width: 2em; /* Espaço fixo para o número, para alinhamento */
    text-align: right; /* Alinha o número à direita dentro do espaço fixo */
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

p {
    margin-top: 0;
    padding: 24px;
    border: 24px;
    border: color #fff;
}
header {
    background-color: #fff;
}
